.input {
	width: 100%;
	height: 80px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#paste-container {
	position: relative;
}

#reset-paste {
	position: absolute;
	right: 20px;
	top: 25px;
}

.upload-file input {
	display: none;
}

.target {
	padding-left: 80px;
	padding-top: 25px;	
	background: white url(../assets/csvicon.png) no-repeat 10px 50%;
	background-size: 60px 60px;
	text-align: right;
	margin-bottom: 10px;
	cursor: pointer;
}

.target:hover {
	background-color: #f9f9f9;
}

.target:hover .btn {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.left, .right {
	width: 100%;
	padding: 0;
}

@media (min-width: 640px) {
	.left, .right {
		width: 50%;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.left {
		float: left;
		padding-right: 10px;
	}

	.right {
		float: right;
		padding-left: 10px;
	}
}